{
  "openapi": "3.0.0",
  "info": {
    "title": "Devices",
    "version": "1.0",
    "description": "デバイスの情報を取得と更新する",
    "contact": {
      "name": "CS"
    }
  },
  "servers": [
    {
      "url": "https://api.cs-remote-care.jp/v1"
    }
  ],
  "paths": {
    "/devices": {
      "parameters": [],
      "get": {
        "summary": "デバイスの情報を取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "device": {
                      "type": "string",
                      "minLength": 1
                    },
                    "functions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "device",
                    "functions"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "device": "CenterId1:DeviceId1",
                      "functions": [
                        "30001:30001:true",
                        "30002:30002:false",
                        "30004:30004:true"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "Invalid User or password"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "Device not found"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-devices",
        "description": "デバイスの情報を取得(デバイスIdとセンターId)",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "auth": {
                    "type": "object",
                    "properties": {
                      "applicationid": {
                        "type": "string"
                      },
                      "userid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "password": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "applicationid",
                      "userid",
                      "password"
                    ]
                  },
                  "device": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "auth",
                  "device"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "auth": {
                      "applicationid": "JobMgtTool",
                      "userid": "user",
                      "password": "password"
                    },
                    "device": "CenterId:DeviceId"
                  }
                }
              }
            }
          },
          "description": "アプリケーションId、ユーザーId、パスワード、取得するデバイス(デバイスIdとセンターId)"
        }
      },
      "patch": {
        "summary": "デバイスの情報を更新する",
        "operationId": "patch-devices",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "Invalid user or password"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "デバイスの機能を無効か有効に変更する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "auth": {
                    "type": "object",
                    "required": [
                      "applicationid",
                      "userid",
                      "password"
                    ],
                    "properties": {
                      "applicationid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "userid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "password": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "devices": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "auth",
                  "functions",
                  "devices"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "auth": {
                      "applicationid": "JobMgtTool",
                      "userid": "user",
                      "password": "password"
                    },
                    "functions": [
                      "30001:30001:true",
                      "30002:30002:false",
                      "30004:30004:true"
                    ],
                    "devices": [
                      "CenterId1:DeviceId1",
                      "CenterId2:DeviceId2",
                      "CenterId3:DeviceId3",
                      "CenterId4:DeviceId4"
                    ]
                  }
                }
              }
            }
          },
          "description": "アプリケーションId、ユーザーId、パスワード、機能一覧と無垢・有効、更新するデバイスの一覧(デバイスIdとセンターId)"
        },
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  }
}