{
  "openapi": "3.0.0",
  "info": {
    "title": "Schedules",
    "version": "1.0",
    "description": "スケジュールの情報を取得と更新する",
    "contact": {
      "name": "CS"
    }
  },
  "servers": [
    {
      "url": "https://api.cs-remote-care.jp/v1"
    }
  ],
  "paths": {
    "/shedules/{sheduleId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sheduleId",
          "in": "path",
          "required": true,
          "description": "取得と変更したいのスケジュールId"
        }
      ],
      "get": {
        "summary": "スケジュールの情報を取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "schedule": {
                      "type": "string",
                      "minLength": 1
                    },
                    "devices": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "schedule",
                    "devices"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "schedule": "1",
                      "devices": [
                        "CenterId1:DeviceId1",
                        "CenterId2:DeviceId2"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "User or password is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "Schedule not found"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shedules-sheduleId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "auth": {
                    "type": "object",
                    "properties": {
                      "applicationid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "userid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "password": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "applicationid",
                      "userid",
                      "password"
                    ]
                  }
                },
                "required": [
                  "auth"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "auth": {
                      "applicationid": "JobMgtTool",
                      "userid": "user",
                      "password": "pass"
                    }
                  }
                }
              }
            }
          },
          "description": "アプリケーションId、ユーザーId、パスワード"
        },
        "description": "スケジュールの情報を取得"
      },
      "patch": {
        "summary": "デバイスをスケジュールから削除する",
        "operationId": "patch-shedules-sheduleId",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "User or password is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "Error"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Error": "Schedule not found"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "auth": {
                    "type": "object",
                    "required": [
                      "applicationid",
                      "userid",
                      "password"
                    ],
                    "properties": {
                      "applicationid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "userid": {
                        "type": "string",
                        "minLength": 1
                      },
                      "password": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "devices": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "auth",
                  "devices"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "auth": {
                      "applicationid": "JobMgtTool",
                      "userid": "user",
                      "password": "pass"
                    },
                    "devices": [
                      "CenterId1:DeviceId1",
                      "CenterId2:DeviceId2",
                      "CenterId3:DeviceId3",
                      "CenterId4:DeviceId4"
                    ]
                  }
                }
              }
            }
          },
          "description": "アプリケーションId、ユーザーId、パスワード、スケジュールから削除したいデバイス (デバイスIdとセンターId)"
        },
        "description": "デバイスをスケジュールから削除する"
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  }
}